.home {
  box-sizing: border-box;
}

header {
  position: relative;
  display: block;
  background-color: #999;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 10rem 0;
  font-family: Consolas, monospace;
  white-space: nowrap;
}

.name {
  display: inline-block;
  font-size: 6rem;
  font-weight: bolder;
  color: #ffffff;
  overflow: hidden;
  margin: 0;
  animation: name-in 0.8s 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes name-in {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.slogan {
  display: inline-block;
  font-size: 3rem;
  color: #ffffff;
  overflow: hidden;
  width: 20ch;
  margin: 0;
  animation: slogan-in 0.8s 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes slogan-in {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
