.home {
  box-sizing: border-box;
}

header {
  position: relative;
  display: block;
  background-color: #999;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 10rem 0;
  font-family: Consolas, monospace;
  white-space: nowrap;
}

.name {
  display: inline-block;
  font-size: 6rem;
  font-weight: bolder;
  color: #ffffff;
  overflow: hidden;
  margin: 0;
  animation: name-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes name-in {
  from {
    filter: blur(12px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}

.slogan {
  display: inline-block;
  font-size: 3rem;
  color: #ffffff;
  overflow: hidden;
  width: 20ch;
  margin: 0;
  animation: slogan-in 0.8s 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes slogan-in {
  from {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
