.home {
  box-sizing: border-box;
}

header {
  position: relative;
  display: block;
  background-color: #999;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 13rem 0;
}

.name {
  display: inline-block;
  font-size: 6rem;
  color: #ffffff;
  font-family: Consolas, monospace;
  overflow: hidden;
  /*noinspection CssInvalidFunction*/
  animation: 10s 5s typing steps(14, jump-none) infinite;
}

.after {
  content: '';
  display: inline-block;
  font-size: 8rem;
  width: 14px;
  height: 5rem;
  background-color: #ffffff;
  border-radius: 2px;
  /*noinspection CssInvalidFunction*/
  animation: 1.1s 5s cursor steps(2, jump-none) infinite;
}

@keyframes typing {
  0% {
    width: 1ch;
  }
  50% {
    width: 14ch
  }
  100% {
    width: 14ch;
  }
}

@keyframes cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

