.main {
  /*min-height: 100vh;*/
}

.header {
  position: sticky;
  top: 0;
  background: #fff;
  transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  box-shadow: 0 1px 1px rgb(100 100 10%);
  font-size: 18px;
  font-weight: 400;
  z-index: 1000;
}

.text {
  padding: 0;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
}

.nav {
  padding: 0;
  margin: 0;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-align: center;
  text-decoration: none;
  color: #2c3e50;
}

.logo {
  position: relative;
  height: 2.2rem;
  min-width: 2.2rem;
  margin: .5rem;
}

.banner {
  position: relative;
  display: flex;
  height: 50px;
}

.banner span {
  text-align: start;
  height: 2.2rem;
  line-height: 50px;
  font-size: 18px;
  white-space: nowrap;
}

.page {
  opacity: 0.6;
}

.page.active {
  box-shadow: inset 0 5px 0 0 #009688;
  opacity: 1 !important;
}

.page:hover {
  box-shadow: inset 0 5px 0 0 #009688;
  opacity: 0.8;
}

.content {
  min-height: 100vh;
}
